doctype transitional
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Welcome
  style(type='text/css').
    /* Reset */
    body {
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    }
    table {
    border-spacing: 0;
    }
    td {
    padding: 0;
    }
    img {
    border: 0;
    }
    .wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #fff;
    padding: 0px;
    }
    .main {
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #171a1b;
    }
    /* Top */
    .content {
    display: block;
    margin: 15px auto;
    }
    .logo {
    width: 169px;
    padding: 15px 0;
    }
    .title {
    text-align: center;
    margin-top: 45px;
    color: #797979;
    font-size: 1.5em;
    line-height: 1.4em;
    }
    .text {
    text-align: center;
    margin-top: 45px;
    color: #000;
    font-size: 1em;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    }
    .bar {
    width: 80%;
    border-bottom: 2px solid #797979;
    margin: 40px auto;
    }
    .text-footer {
    text-align: center;
    margin-bottom: 40px;
    color: #797979;
    font-size: 0.80em;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    }
    .data {
    padding: 20px 0;
    }
    .btn {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    background-color: #6DABFC;
    color: #fff;
    font-size: 1em;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    }
center.wrapper
  table.main(width='100%')
    // Top
    tr
      td(height='418px', style='background-color: #fff;')
        table(width='100%')
          tr
            td
              img.content.logo(src='https://i.imgur.com/7xUE5ST.png')
          tr
            td
              h2.content.title
                | Ol&aacute;, 
                span #{name}
                br
                | Bem-vindo(a) ao regNUTES
          tr
            td
              p.content.text
                | Seu cadastro foi efetuado com sucesso!
              div
                p.content.text
                  strong Email:
                  span #{email}
                  br
                  strong Senha:
                  span #{password}
              p.content.btn
                a.content.btn(href=`${action_url}`)
                  | Acessar Plataforma
              p.content.text
                | Link do regNUTES: 
                span #{action_url}
              p.content.text
                | Voc&ecirc; tem a sua disposi&ccedil;&atilde;o o aplicativo web.
                br
                |                                     Qualquer d&uacute;vida, entre em contato atrav&eacute;s do nosso site.
  // End
  table
    tr
      td(height='190px')
        table(width='100%')
          tr
            td
              .bar
          tr
            td
              p.content.text-footer
                | regNUTES
                br
                |                                 Av. Juv&ecirc;ncio Arruda, S/N - Universit&aacute;rio, Campina Grande - PB, 58429-600.
                br
                |                                 regnutes@ses.pb.gov.br&#x9;
                br
                |                                 &copy;2021 RN. Todos os direitos reservados.

